mat-form-field {
  width: 100%;
}
[matSuffix] {
  font-weight: bold;
  color: #999;
  margin-left: 1rem;
}
.form--action-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  button {
    height: 40px;
    width: 47%;
    font-weight: bold;
  }

  @media (min-width: 777px) {
    justify-content: flex-end;
    button {
      margin-left: 1rem;
      width: unset;
    }
  }
}